
## <summary>policy for bitcoinphantom</summary>


########################################
## <summary>
##	Transition to bitcoinphantom.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitcoinphantom_domtrans',`
	gen_require(`
		type bitcoinphantom_t, bitcoinphantom_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitcoinphantom_exec_t, bitcoinphantom_t)
')


########################################
## <summary>
##	Execute bitcoinphantom server in the bitcoinphantom domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinphantom_initrc_domtrans',`
	gen_require(`
		type bitcoinphantom_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitcoinphantom_initrc_exec_t)
')


########################################
## <summary>
##	Search bitcoinphantom lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinphantom_search_lib',`
	gen_require(`
		type bitcoinphantom_var_lib_t;
	')

	allow $1 bitcoinphantom_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitcoinphantom lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinphantom_read_lib_files',`
	gen_require(`
		type bitcoinphantom_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitcoinphantom_var_lib_t, bitcoinphantom_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinphantom lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinphantom_manage_lib_files',`
	gen_require(`
		type bitcoinphantom_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitcoinphantom_var_lib_t, bitcoinphantom_var_lib_t)
')

########################################
## <summary>
##	Manage bitcoinphantom lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitcoinphantom_manage_lib_dirs',`
	gen_require(`
		type bitcoinphantom_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitcoinphantom_var_lib_t, bitcoinphantom_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitcoinphantom environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitcoinphantom_admin',`
	gen_require(`
		type bitcoinphantom_t;
		type bitcoinphantom_initrc_exec_t;
		type bitcoinphantom_var_lib_t;
	')

	allow $1 bitcoinphantom_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitcoinphantom_t)

	bitcoinphantom_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitcoinphantom_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitcoinphantom_var_lib_t)

')

